h1,
h2 {
	color: rgb(37, 37, 58);
	font-size: 3.8rem;
	font-family: "Big Shoulders Display", cursive;
}

body {
	background: #f4f4f4;
	font-family: "Lexend Deca", sans-serif;
}

.logo {
	font-family: "Kolker Brush", cursive;
	font-size: 3.5rem;
}
